<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sizdev.arkhireforcompany">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArkhireCompany"
        android:usesCleartextTraffic="true">
        <activity android:name=".homepage.item.project.showproject.detailproject.hiringlist.ProjectHiringDetailActivity"></activity>
        <activity android:name=".administration.email.ResetEmailActivity" />
        <activity android:name=".homepage.item.project.createhiring.CreateHiringActivity" />
        <activity android:name=".extra.CostumerServiceActivity" />
        <activity android:name=".homepage.item.home.detailedtalent.portfolio.PortfolioDetailsActivity" />
        <activity android:name=".homepage.item.project.showproject.editproject.ProjectEditActivity" />
        <activity android:name=".homepage.item.project.showproject.detailproject.ProjectDetailActivity" />
        <activity android:name=".homepage.item.account.profile.edit.CompanyEditProfileActivity" />
        <activity android:name=".homepage.item.project.createproject.CreateProjectActivity" />
        <activity android:name=".webviewer.ArkhireWebViewerActivity" />
        <activity android:name=".homepage.item.home.detailedtalent.TalentProfileActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity android:name=".homepage.item.account.profile.CompanyProfileActivity" />
        <activity android:name=".administration.password.ResetPasswordActivity" />
        <activity android:name=".administration.register.RegisterActivity" />
        <activity android:name=".administration.login.LoginActivity" />
        <activity android:name=".homepage.HomeActivity" />
        <activity android:name=".onboarding.OnBoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>